<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>Index page</title>
  </head>
<ul>
  <li><a href="/store/">SHOP</a></li>
  <li><a href="/store/blog">BLOG</a></li>
  <li><a href="/store/new">CUSTOMIZE YOUR OWN</a></li>
</ul>

  <br>
   <img class="headPhoto" src="https://i1.wp.com/craves.everybodyshops.com/wp-content/uploads/poolfloats.jpg?fit=1143%2C762">

  <body>
      <h1>Instagram Worthy Pool Floats</h1>
      <h2 class="slogan">Everything you need for the perfect summer photo.</h2>

    <form action="/store" method="POST">
<div class="storeProducts">
<div> <% for(let i = 0; i < allProducts.length;i++){ %>

    <h2><a href="/store/<%=allProducts[i].id%>"></h2>
    <h2 class="name"><%=allProducts[i].name%></h2>
    <a href="/store/show/<%=allProducts[i].id%>"><img class="productImg" src="<%=allProducts[i].img%>"></a>
    <h3> $<%=allProducts[i].price%></h3>
    <h3>In Stock: <%=allProducts[i].quanity%></h3>

<%=console.log(allProducts[i])%>
<% } %>
</div>
</div>
    <footer>
      <a class= "customize" href="/store/new">Customize Your Own Pool Float</a>
  </footer>

  </body>
</html>
