<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>Index page</title>
  </head>
  <body>
      <a href="/store/edit"> <input type="submit" name="" value="My Cart"/></a>
      <h1>Instagram Worthy Pool Floaties</h1>

    <form action="/store" method="POST">

<div class="storeProducts">


<div> <% for(let i = 0; i < allProducts.length;i++){ %>

    <h2><a href="/store/<%=allProducts[i].id%>"></h2>
    <h2 class="name"><%=allProducts[i].name%></h2>
    <a href="#"><img class="productImg" src="<%=allProducts[i].img%>"></a>
    <h3> $<%=allProducts[i].price%></h3>
    <h3>In Stock: <%=allProducts[i].quanity%></h3>
      <h3>DESCRIPTION</h3>
      <ul>
        <li>
          Vinyl pool float
        <li>
          Wipe clean
        <li>
          Not to be used as a flotation device for rescue
        <li>
          Imported
        <li>
          Includes repair patch in case of punctures
        </li>
        </ul>
        
<%=console.log(allProducts[i])%>
<% } %>
</div>

    <footer>
      <a class= "customize" href="/store/new">Customize Your Own Pool Float</a>

      <br>
      Subscribe to our site: <input type="text" name="email" />
      <input type="submit" name="" value="Submit"/><br>
    </footer>

  </body>
</html>
