<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel = 'stylesheet' href='/app.css' type ='text/css'>
    <title>Index page</title>
  </head>
<header>
  <nav>
  <a href="/store/">SHOP</a>
  <a href="/store/blog">BLOG</a>
  <a href="/store/new">CREATE YOUR OWN</a>
  </nav>
  <br>
   <img class="headPhoto" src="https://i.pinimg.com/originals/cb/f2/f5/cbf2f537ad7261f377e88c5d58dd0693.jpg">
    </header>
  <body>
      <h1>Instagram Worthy Pool Floats</h1>
      <h2 class="slogan">Everything you need for a perfect summer photo.</h2>

    <form action="/store" method="POST">
<div class="storeProducts">
<div> <% for(let i = 0; i < allProducts.length;i++){ %>

    <h2><a href="/store/<%=allProducts[i].id%>"></h2>
    <h2 class="name"><%=allProducts[i].name%></h2>
    <a href="/store/show/<%=allProducts[i].id%>"><img class="productImg" src="<%=allProducts[i].img%>"></a>
    <h3> $<%=allProducts[i].price%></h3>
    <h3>In Stock: <%=allProducts[i].quanity%></h3>

<%=console.log(allProducts[i])%>
<% } %>
</div>
</div>
    <footer>
      <a class= "customize" href="/store/new">Customize Your Own Pool Float</a>
  </footer>

  </body>
</html>
